.App {
  text-align: center;
}
body{
  background-color: rgba(28, 228, 184, 0.822);
}

.main {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgba(224, 233, 231, 0.822);
}

#signupBox{
  text-align: center;
  display:flex;
  justify-content: center;
  height: 600px;
  width: 500px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 30px;
  margin:auto ;
  margin-top: 100px;
  border-radius: 60px; 
  background-color: rgba(234, 247, 244, 0.822);
}


.imgs {
    padding: auto;
    justify-content: center;
    display:flex;
  }

  h1{
    margin: auto;
    padding: 20px;
  }

.container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 

input{
    width: 380px;
    height: 50px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
}

.email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.name{
    padding-left: 70px;
    font-size: 20px;
}

#username{
  padding-top: 20px;
}
#confirmpassword{
  padding-top: 20px;
}
#mobilenumber{
  padding-top: 20px;
}

#password{
    padding-top: 20px;
}

#submitButton{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #e923ad;
    color: white;
    font-size: 25px;
    border: none;
}

#submitButton:hover {
  opacity: 0.8;
  background-color: #e28025;
  color: #f01809;
}

.login-button{
    padding-top: 25px;

    
}

.link{
    font-size: 25px;
    font-weight: 400;
}

a{
     color: blue;
}
#signinLink{
  padding-top: 15px;
}